@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Cảm ơn";
}

<div class="container my-5">
    <div class="alert alert-success">
        <h4 class="alert-heading">Đăng ký thành công!</h4>
        <p>Cảm ơn bạn đã đăng ký tham quan. Chúng tôi sẽ liên hệ lại qua email/số điện thoại bạn đã cung cấp.</p>
    </div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Về trang chủ</a>
</div>
