@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Gửi liên hệ thành công";
}
<div class="container my-5">
    <div class="alert alert-success">
        <h4 class="alert-heading">Đã gửi liên hệ!</h4>
        <p>Cảm ơn bạn đã liên hệ. Chúng tôi sẽ phản hồi qua email sớm nhất.</p>
    </div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Về trang chủ</a>
</div>
